src/main/resources/org/nervousync/schemas/query_1_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Nervousync Studio (NSYC) under one or more contributor license agreements.
  ~ See the NOTICE file distributed with this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xsd:schema xmlns="https://nervousync.org/schemas/query" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://nervousync.org/schemas/query" elementFormDefault="qualified" version="1.0">
    <xsd:complexType name="sorted_item" abstract="true">
        <xsd:sequence>
            <xsd:element name="sort_code">
                <xsd:annotation>
                    <xsd:documentation>Sort code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="array_data">
        <xsd:sequence>
            <xsd:element name="array_objects">
                <xsd:annotation>
                    <xsd:documentation>Array data objects</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="data_value" type="xsd:anyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ranges_data">
        <xsd:sequence>
            <xsd:element name="begin_value" type="xsd:anyType">
                <xsd:annotation>
                    <xsd:documentation>Ranges begin value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="end_value" type="xsd:anyType">
                <xsd:annotation>
                    <xsd:documentation>Ranges end value</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="abstract_item" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="item_type">
                        <xsd:annotation>
                            <xsd:documentation>Parameter item type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="COLUMN"/>
                                <xsd:enumeration value="FUNCTION"/>
                                <xsd:enumeration value="QUERY"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="alias_name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Item alias name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="distinct" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Column distinct</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="function_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:element name="sql_function">
                        <xsd:annotation>
                            <xsd:documentation>SQL function name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="function_parameter_list">
                        <xsd:annotation>
                            <xsd:documentation>Function parameter list</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:group ref="parameter_group" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_item">
        <xsd:complexContent>
            <xsd:extension base="abstract_item">
                <xsd:sequence>
                    <xsd:annotation>
                        <xsd:documentation>Sub-query information</xsd:documentation>
                    </xsd:annotation>
                    <xsd:element name="query_info" type="query_info"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="item_group">
        <xsd:choice>
            <xsd:element name="column_item" type="column_item"/>
            <xsd:element name="function_item" type="function_item"/>
            <xsd:element name="query_item" type="query_item"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="abstract_parameter" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="item_type">
                        <xsd:annotation>
                            <xsd:documentation>Parameter item type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="COLUMN"/>
                                <xsd:enumeration value="FUNCTION"/>
                                <xsd:enumeration value="CONSTANT"/>
                                <xsd:enumeration value="QUERY"/>
                                <xsd:enumeration value="RANGE"/>
                                <xsd:enumeration value="ARRAY"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="arrays_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="array_data" type="array_data"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="column_item" type="column_item"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="constant_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="constant_data" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="function_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="function_item" type="function_item"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="query_info" type="query_info"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ranges_parameter">
        <xsd:complexContent>
            <xsd:extension base="abstract_parameter">
                <xsd:sequence>
                    <xsd:element name="ranges_data" type="ranges_data"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="parameter_group">
        <xsd:choice>
            <xsd:element name="arrays_parameter" type="arrays_parameter"/>
            <xsd:element name="column_parameter" type="column_parameter"/>
            <xsd:element name="constant_parameter" type="constant_parameter"/>
            <xsd:element name="function_parameter" type="function_parameter"/>
            <xsd:element name="query_parameter" type="query_parameter"/>
            <xsd:element name="ranges_parameter" type="ranges_parameter"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="condition" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="condition_code">
                        <xsd:annotation>
                            <xsd:documentation>Condition type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="GREATER"/>
                                <xsd:enumeration value="GREATER_EQUAL"/>
                                <xsd:enumeration value="LESS"/>
                                <xsd:enumeration value="LESS_EQUAL"/>
                                <xsd:enumeration value="EQUAL"/>
                                <xsd:enumeration value="NOT_EQUAL"/>
                                <xsd:enumeration value="BETWEEN_AND"/>
                                <xsd:enumeration value="NOT_BETWEEN_AND"/>
                                <xsd:enumeration value="LIKE"/>
                                <xsd:enumeration value="NOT_LIKE"/>
                                <xsd:enumeration value="IS_NULL"/>
                                <xsd:enumeration value="NOT_NULL"/>
                                <xsd:enumeration value="IN"/>
                                <xsd:enumeration value="NOT_IN"/>
                                <xsd:enumeration value="GROUP"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="connection_code">
                        <xsd:annotation>
                            <xsd:documentation>Connection type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="AND"/>
                                <xsd:enumeration value="OR"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="column_condition">
        <xsd:complexContent>
            <xsd:extension base="condition">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:group ref="parameter_group" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="group_condition">
        <xsd:complexContent>
            <xsd:extension base="condition">
                <xsd:sequence>
                    <xsd:element name="condition_list">
                        <xsd:complexType>
                            <xsd:group ref="condition_group" maxOccurs="unbounded"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:group name="condition_group">
        <xsd:choice>
            <xsd:element name="column_condition" type="column_condition"/>
            <xsd:element name="group_condition" type="group_condition"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="join_info">
        <xsd:sequence>
            <xsd:element name="connection_code">
                <xsd:annotation>
                    <xsd:documentation>Connection type enumeration value</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="AND"/>
                        <xsd:enumeration value="OR"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="join_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Join column identify key</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="reference_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Reference column identify key</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="query_join">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="main_entity" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Main entity class name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="join_entity" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Join entity class name</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="join_type">
                        <xsd:annotation>
                            <xsd:documentation>Table join type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="LEFT"/>
                                <xsd:enumeration value="RIGHT"/>
                                <xsd:enumeration value="FULL"/>
                                <xsd:enumeration value="INNER"/>
                                <xsd:enumeration value="CROSS"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="join_info_list">
                        <xsd:annotation>
                            <xsd:documentation>Join column information list</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="join_info" type="join_info" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="group_by">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="order_by">
        <xsd:complexContent>
            <xsd:extension base="sorted_item">
                <xsd:sequence>
                    <xsd:element name="entity_class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>The entity class to which the data column belongs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identify_key" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Query column identify key</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="order_type">
                        <xsd:annotation>
                            <xsd:documentation>Data order type enumeration value</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="ASC"/>
                                <xsd:enumeration value="DESC"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="query_info">
        <xsd:sequence>
            <xsd:element name="identify_name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Query identify name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="main_entity" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Query driven table entity class</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="join_list">
                <xsd:annotation>
                    <xsd:documentation>Related query information list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="query_join" type="query_join" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="item_list">
                <xsd:annotation>
                    <xsd:documentation>Query item instance list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="item_group" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="condition_list">
                <xsd:annotation>
                    <xsd:documentation>Query condition instance list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="condition_group" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="order_list">
                <xsd:annotation>
                    <xsd:documentation>Query order by columns list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="order_by" type="order_by" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="group_list">
                <xsd:annotation>
                    <xsd:documentation>Query group by columns list</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="group_by" type="group_by" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cacheables" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Query result read from cache server first</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="for_update" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Query result for update</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lock_option">
                <xsd:annotation>
                    <xsd:documentation>Query record lock option enumeration value</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="NONE"/>
                        <xsd:enumeration value="PESSIMISTIC_UPGRADE"/>
                        <xsd:enumeration value="PESSIMISTIC_UPGRADE_NOWAIT"/>
                        <xsd:enumeration value="OPTIMISTIC_UPGRADE"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="page_number" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Current page number</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page_limit" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Page limit records count</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="query_info" type="query_info"/>
    <xsd:element name="query_result">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="encoding" type="xsd:string" default="UTF-8">
                    <xsd:annotation>
                        <xsd:documentation>Character encoding for record information</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="record_list">
                    <xsd:annotation>
                        <xsd:documentation>Result record list</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="record" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>Result record information</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="total_count" type="xsd:long">
                    <xsd:annotation>
                        <xsd:documentation>Total record count</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>